<h1 appTextSize="20px" class="title">Añadir curso</h1>

<form class="form col-md-4" [formGroup]="courseForm" (ngSubmit)="addCourse()" > <!--[formGroup]="courseForm"-->
  <mat-form-field class="form-input col-10" appearance="legacy" color="accent">
    <mat-label>Nombre del curso</mat-label>
    <input type="text" formControlName="name" matInput placeholder="Ingrese el nombre del curso.">
    <mat-error class="error" *ngIf="courseForm.get('name')?.touched && courseForm.get('name')?.errors?.['required']">Este campo es obligatorio</mat-error>
  </mat-form-field>

  <mat-form-field class="form-input col-10" appearance="legacy" color="accent">
    <mat-label>Profesor a cargo</mat-label>
    <input type="text" formControlName="teacher" matInput placeholder="Ingrese el profesor a cargo:">
    <mat-error class="error" *ngIf="courseForm.get('teacher')?.touched && courseForm.get('teacher')?.errors?.['required']">Este campo es obligatorio.</mat-error>
  </mat-form-field>

  <mat-form-field class="form-input col-10" appearance="legacy" color="accent">
    <mat-label>Fecha de inicio</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="start">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error class="error" *ngIf="courseForm.get('start')?.errors?.['required']">Este campo es obligatorio.</mat-error>
  </mat-form-field>

  <mat-form-field class="form-input col-10" appearance="legacy" color="accent">
    <mat-label>Fecha de cierre</mat-label>
    <input matInput [matDatepicker]="picker1" formControlName="end">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
    <mat-error class="error" *ngIf="courseForm.get('end')?.errors?.['required']">Este campo es obligatorio.</mat-error>
  </mat-form-field>

  <mat-form-field class="form-input col-10" appearance="legacy" color="accent">
    <mat-label>Imagen referencial:</mat-label>
    <input type="url" formControlName="image" matInput placeholder="Ingrese el URL de la imagen.">
    <mat-error class="error" *ngIf="courseForm.get('image')?.errors?.['required']">Este campo es obligatorio.</mat-error>
    <mat-error class="error" *ngIf="courseForm.get('image')?.errors?.['pattern']">Formato inválido.</mat-error>
  </mat-form-field>

  <div>
    <button class="form-btn" mat-flat-button color="accent" type="submit">
      Añadir curso
    </button>
  </div>
</form>

