.title  {
  text-align: center;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
 justify-content: center;
}

.list {
  color: #fff;
  display: inline-block;
}
.form {
  width: 100%;
  margin: 0 auto;
}