<div class="container">
  <div class="row">
    <div class="square col m-4">
      <p class="text">Curso</p>
    </div>
    <div class="square col m-4">
      <p class="text">Curso</p>
    </div>
    <div class="square col m-4">
      <p class="text">Curso</p>
    </div>
  </div>
  <div class="row">
    <div class="square col m-4">
      <p class="text">Curso</p>
    </div>
    <div class="square col m-4">
      <p class="text">Curso</p>
    </div>
    <div class="square col m-4">
      <p class="text">Curso</p>
    </div>
  </div>
  <div class="row">
    <div class="square col m-4">
      <p class="text">Curso</p>
    </div>
    <div class="square col m-4">
      <p class="text">Curso</p>
    </div>
    <div class="square col m-4">
      <p class="text">Curso</p>
    </div>
  </div>
</div>
