.student-container {
  color: #fff;
}

.element  {
  margin: 20px;
}

.title  {
  font-size: 30px;
  margin: 20px;
  color: #fff;
}

.text {
  font-size: 20px;
}

.aprobado {
  color: rgb(0, 255, 17);
}

.desaprobado {
  color: rgb(255, 0, 0);
}