<ng-container *ngIf="sesion$ | async as sesion">
  <div *ngIf="sesion.activeSesion">
    <mat-toolbar color="primary">
      <h1>Título de referencia</h1>
      <p> Bienvenido {{sesion.activeUser?.user}} </p>
      <a mat-button routerLink="">Inicio</a>
      <a mat-button routerLink="courses/list">Cursos</a>
      <a mat-button routerLink="courses/create" *ngIf="sesion.activeUser?.admin">Registrar Curso</a>
      <a mat-button routerLink="students/list">Alumnos</a>
      <a mat-button routerLink="students/create" *ngIf="sesion.activeUser?.admin">Registrar Alumnos</a>
      <a mat-button routerLink="authentication/login">Login</a>
      <a mat-button routerLink="authentication/signup">SignUp</a>
    </mat-toolbar>
  </div>
</ng-container>

