<h1 appTextSize="20px" class="title">Cursos</h1>

<div class="row">
  <div class="row">
    <mat-form-field class="col-md-4" appearance="fill" color="accent">
      <mat-label>Buscar curso:</mat-label>
      <input type="text" matInput (keyup)="getValue($event)">
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col-md-4 mb-5" *ngFor="let course of courses">
    <mat-card>
      <mat-card-header>
        <mat-card-title appTextSize="20px"> {{ course.name }} </mat-card-title>
        <mat-card-subtitle appTextSize="16px">Profesor: {{ course.teacher }}</mat-card-subtitle>
      </mat-card-header>
      <img class="card-img" [src]="course.img" mat-card-image alt="Logo de curso">
      <mat-card-content>
        <p class="mx-3">Fecha de inicio: {{ course.start | date: 'dd/MM/yyyy' }}</p>
        <p class="mx-3">Fecha de cierre: {{ course.end | date: 'dd/MM/yyyy' }}</p>
        <!-- <p [appStudentState]="course.ongoing" class="m-4 card-status" appTextSize="20px"> {{ course.ongoing | booleanToText: 'Matricula Abierta': 'En Curso' }} -->
        <!-- </p> -->
        <p>Número de alumnos: {{ course.students.length}}</p>
      </mat-card-content>
      <mat-card-actions class="btn-container">
        <button mat-flat-button (click)="edit(course)" color="accent">
          Editar
        </button>
        <button mat-flat-button (click)="remove(course.id)" color="warn">
          Remover
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<button mat-flat-button (click)="addCourse()" color="warn">
  Añadir curso
</button>
