mat-form-field.mat-form-field {
  font-size: 18px;
}

.form {
  display: flex;
  margin: 0 auto;
  padding: 20px 20px;
  border-radius: 20px;
  text-align: center;
  flex-direction: column;
  background-color: #424242;
}

.title {
  color: #fff;
  text-align: center;
}

.form-input {
  color: #fff;
  margin: 10px auto;
}

.error {
  /* margin: 10px 0; */
  display: block;
  position: relative;
}

.form-btn {
  margin: 20px auto;
}

.checkbox {
  text-align: left;
  margin-left: 40px;
  font-size: 18px;
}