<h1 class="form-title">Formulario Reactivo</h1>
<div class="form-container">
  <form 
    class="form"
    id="formId"
    [formGroup]="userForm" 
    (ngSubmit)="addUser()" 
    >
    <label for="name">
      Nombre:
      <input formControlName="name" name="name" type="text" placeholder="  Ingrese su nombre">
      <p *ngIf="userForm.get('name')?.touched && userForm.get('name')?.errors?.['required']">Se requiere ingresar un nombre</p>
    </label>

    <label for="password">
      Contreseña: 
      <input formControlName="pass" name="password" type="password" placeholder=" Ingrese su contreseña">
      <p *ngIf="userForm.get('pass')?.touched && userForm.get('pass')?.errors?.['required']">Se requiere ingresar una contreseña</p>
      <p *ngIf="userForm.get('pass')?.errors?.['minlength']">Su contreseña debe tener min. 5 caracteres</p>
      <p *ngIf="userForm.get('pass')?.errors?.['pattern']">Tu contraseña debe tener por lo menos una letra en mayúscula</p>
    </label>

    <label for="verif">
      Repetir contreseña: 
      <input formControlName="verif" name="verif" type="password" placeholder=" Confirme su contreseña" (change)="evaluate()">
      <p *ngIf="!evaluate()">Las dos contreseñas ingresadas no son iguales.</p>
    </label>

    <label for="email">
      Correo: 
      <input formControlName="email" name="email" type="email" placeholder="  Ingrese su correo">
      <p *ngIf="userForm.get('email')?.touched && userForm.get('email')?.errors?.['required']">Se requiere ingresar un correo</p>
      <p *ngIf="userForm.get('email')?.errors?.['pattern']">Formato de correo incorrecto</p>
    </label> 

    <label for="auth">
      Admin: 
      <input formControlName="auth" name="auth" type="checkbox">
    </label>
  
  <button class="btn" type="submit" [disabled]="userForm.invalid">Añadir usuario</button>
  </form>
</div>
